# Assignment 02
__Please submit the Jupyter notebook (.ipynb file). File name should be "Lastname_Firstname_assignment01.ipynb". Provide step-by-step codes for grading and do not forget to run all your code before submitting.__

* Please do not share works publicly on GitHub or other places until the deadline.
* Do not forget that all the operations should be executed inside this notebook, you must not use external software (like Excel).
* Most (if not all) the questions are solved using a few lines of code. If you are writing more than 10 lines in one question, probably the answer is not correct.
* Some parts of coding can be identical if you work with your classmates but annotation/comment must be individual.
* If you use code from external sources, you must cite the source.
* If you have any concerns or struggles, do not hesitate to send an email
* To write comments use the `#` at the beginning of the line.

# 1. Answer the questions:

a) Which is the difference between using $y$ vs. $yÃÇ$?

b) Which is the relationship between the covariance and the correlation metrics?

c) If a model has a $R^2$ of 0.80, which is the interpretation?

d) What metrics you would use to evaluate regression model performance?

In [1]:
# ùë¶ represents the actual of a Input variable, but y^ means the predicted value of that variable based on a model that estimated. Which measn ùë¶ is the true value, and y^ is a prediction of that value.

In [ ]:
# Commom: Covariance and correlation are both measures of the linear relationship between two variables  Difference: they have different scale and interpretation. Covariance depends on the scales of the two variables, which means it is not suitable for comparsion across different scales datasets.positive covariance indicates that as one variable increases, the other variable also tends to increase, and vice versa. However, Correlation is a standardized measure of the linear relationship between two variables, which means it is not affected by the scale of the variables.

In [ ]:
# ùëÖ^2 is an importante index to evaluation the model, which is calculated as the ratio of the explained variance to the total variance of the dependent variable.It range from 0 to 1, If R^2 equals to 0.8, indicating a great fit of the model to the data

In [ ]:
# 1. Mean Squared Error (MSE) 2.Root Mean Squared Error (RMSE) 3.R^2 4.Objective

# 2. Regression cleaning and modeling
You will train regression models to predict the market value of buildings provided by the NYC Department of Finance (DOF): Property Valuation and Assessment Data in https://data.cityofnewyork.us/resource/yjxr-fw8i. You can find the metadata in the website for interpretation.

The objective is to estimate the variable "Market Value" or `fullval`. For this reason, the following columns should not be used in the modeling: `['avland','avtot', 'exland', 'extot','avland2', 'avtot2', 'exland2', 'extot2']`

**Important**

Remember that this is an iterative implementation, so try to perfom this process at least twice selecting different variables. You can either comment your old code with `#` or just describe the process in the last question.

However, do not feel dissapointed if your regression metrics are not high, the objective of this assignment is to present you a real-world dataset and introduce you to the modeling process. For this assignment, the grading will not depend on how "high" is the evaluation metric of your model.


### (1) Load the dataset

You can use the export feature in the main website or just copy the URL from the API: https://data.cityofnewyork.us/resource/yjxr-fw8i.csv

In [2]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
from math import sqrt
from regressors import stats

from sklearn import model_selection
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('https://data.cityofnewyork.us/resource/yjxr-fw8i.csv')
df.head(5)

,bble,boro,block,lot,easement,owner,bldgcl,taxclass,ltfront,ltdepth,...,valtype,borough,latitude,longitude,community_board,council_district,census_tract,bin,nta,geocoded_column
0,1000163859,1,16,3859,NaN,"CHEN, QI TOM",R4,2,0,0,...,AC-TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000730028,1,73,28,NaN,NYC DSBS,V1,4,183,52,...,AC-TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000730029,1,73,29,NaN,NYC DSBS,Y7,4,90,500,...,AC-TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000297504,1,29,7504,NaN,NaN,R0,2,36,73,...,AC-TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000360012,1,36,12,NaN,NYC DSBS,Y7,4,534,604,...,AC-TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df = df[['avland','avtot', 'exland', 'extot','avland2', 'avtot2', 'exland2', 'extot2']]
df.columns

Index(['avland', 'avtot', 'exland', 'extot', 'avland2', 'avtot2', 'exland2',
       'extot2'],
      dtype='object')

### (2) Implement a brief exploratory data analysis

You can use this space to describe overall patterns of your data as well as identifying outliers.

### (3) Perform the cleaning and pre-processing

Before starting the modeling tasks, you need to clean your dataset which includes manipulating those null values and reduce the dataframe to the essential columns. You can either drop rows, fill with zeros or other techniques you consider necessary.

In this task you can drop the following columns:
`['avland','avtot', 'exland', 'extot','avland2', 'avtot2', 'exland2', 'extot2']`

### (4) Define target variable ($y$) and predictors ($X$) and split data into training and test data
    Since we are predicting the market value, 'fullval' would be your target column. Feel free to use the columns you find more useful.

# 3. Create OLS model:
### (1) Show train and test results 
    Please use R-squared and Mean Squared Error (MSE) to evaluate your model

### (2) Show regression coefficients

### (3) Interpret your results and describe the process until you get this final model version