PLA6113 Exploring Urban Data with Machine Learning
<br>

# Lab 01: Intro to Python for ML
# SECTION 1:

## 1. Check your Python version

In [2]:
import platform
print(platform.python_version())

3.9.12

## 2. Code, output, and markdown

In [3]:
10+10

20

In [4]:
print(20+40)

60

## 3. Basic math

Python can handle basic math operations. Let’s have a try:

In [5]:
print(4*6+5)

29

Let's see how order affects how code is run:

In [6]:
print(4*(6+5))

44

## 4. Variables

Assigning variables: 
<br>
when assignining variables you can use "=" to assign variables:

In [7]:
city = 'New York'

In [8]:
print(city)

New York

Reassigning variables:

In [9]:
city = 'DC'

In [10]:
print(city)

DC

## 5. Data Types
Getting the Data Type
<br>
You can get the data type of any object by using the type() function:
### 5-1. String

In [11]:
print(type("text"))

<class 'str'>

### 5-2. Integer

In [12]:
print(type(4))

<class 'int'>

### 5-3. Float

In [13]:
print(type(4.5))

<class 'float'>

### 5-4. List
A collection which is ordered and changeable. Allows duplicate members.

In [14]:
list = ['New York', 'DC', 'SF', 'New York']

In [15]:
print(list)

['New York', 'DC', 'SF', 'New York']

__Task. Create and assign variable of a list with five different five different countries.__
* Print the first and the last items.
* Replace the third item to your last name.
* Print the list.

In [16]:
list[1]

'DC'

In [17]:
list[-2]

'SF'

In [18]:
list[0] = 'Denver'

In [19]:
print(list)

['Denver', 'DC', 'SF', 'New York']

### 5-5. Tuple
A collection which is ordered and unchangeable. Allows duplicate members.

In [20]:
tuple = ('SF','NY','SF')

In [21]:
print(type(tuple))

<class 'tuple'>

In [22]:
tuple[0] = 'Denver'
print(tuple)
# Should raise an error

TypeError: 'tuple' object does not support item assignment

### 5-6. Dictionary
A collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [23]:
city_pop = {'city':'NY','pop':1000000}

In [24]:
city_pop['city']

'NY'

In [25]:
city_pop2 = {'NY':100000,'SF':30000,'DC':2534545}

In [26]:
city_pop2['NY']

100000

### 5-7. Boolean
In programming you often need to know if an expression is True or False. You can evaluate any expression in Python, and get one of two answers, True or False. When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [27]:
True
False

False

In [28]:
5>6

False

## 6. Range
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.
* Syntax: range(start, stop, step)

In [55]:
list1 = list(range(1,10))
list1

TypeError: 'range' object is not callable

__Task. Create a list with a sequence of numbers from 5 to 50, increment by 15, using range().__

In [51]:
list = range(5,50,15)
list

range(5, 50, 15)

In [49]:
list = range(5)
list

range(0, 5)

## 7. Writing Functions
A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result.

In [35]:
def sum_prod(a, b):
    result = a + b * a
    return result

In [36]:
sum_prod(5,4)

25

__Task. Write a function to return average value of items in a list.__

In [37]:
def average(list):
    print(sum(list)/len(list))

In [38]:
average([4,6,7,8])

6.25

## 8. Control Statement

In [39]:
pop1 = 3000
pop2 = 2000

pop1 > pop2

True

## 9. For loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string). This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages. With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [40]:
for i in range(5,50,15):
    print(i)

5
20
35

# SECTION 2: Essential Libraries and Tools
* NumPy
* Pandas
* scikit-learn
* Very simple and basic machine learning example (pending)

## 1. NumPy
NumPy is one of the fundamental packages for scientific computing in the browser. 
* Multimensional arrays
* High-level mathematical functions such as linear algebra operations
* Important, because the NumPy array is the fundamental data structure in scikit-learn (which will be mainly used for machine learning algorithms)
* Data will have to be converted to a NumPy array
* Core functionality: ndarray class, multidimensinal (n-dimensional) array
* All elements in the array must be of the same data type (e.g. int, str, float...)

In [41]:
# Import the entire NumPy module
import numpy as np

### 1) Create a numpy array

In [42]:
array = np.array([[1,2,3],[1,3,4]])

In [43]:
array

array([[1, 2, 3],
       [1, 3, 4]])

### 2) Shape of matrix (array)

In [44]:
array.shape

(2, 3)

### 3) Indexing

In [45]:
array[0][1]

2

### 4) Accessing array rows and columns.    
One commonly needed routine is accessing single rows or columns of an array. You can do this by combining indexing and slicing, using an empty slice marked by a single colon (:):

In [46]:
array[1:]

array([[1, 3, 4]])

### 5) Calling built-in functions

In [15]:
print(array.sum())
print(array.mean())
print(array.shape[0] * array.shape[1])

14
2.3333333333333335
6

## 2. Pandas
Pandas is a Python library for data wrangling and analysis.
* Data structure called the DataFrame - modeled after the R DataFrame
* Simply, it is like a table, similar to an Excel spreadsheet
* Great range of methods to modify and operate on data tables
* SQL-like queries, joins of tables
* In contrast to NumPy, Pandas allows each column to have a separate data type (e.g. one for string, one for float, one for datetime etc.)
* Ingest from a variety of data file formats and data bases (SQL, Excel file, csv, json)

https://data.cityofnewyork.us/resource/erm2-nwe9

In [18]:
# Import the entire pandas module
import pandas as pd

### 1) Excel

In [19]:
# data = pd.read_excel('path/data.xls')

### 2) comma-separated values (CSV)
* We will mostly use this format

In [20]:
data = pd.read_csv('https://data.cityofnewyork.us/resource/erm2-nwe9.csv')

In [ ]:
data.head()

,unique_key,created_date,closed_date,agency,agency_name,complaint_type,descriptor,location_type,incident_zip,incident_address,...,vehicle_type,taxi_company_borough,taxi_pick_up_location,bridge_highway_name,bridge_highway_direction,road_ramp,bridge_highway_segment,latitude,longitude,location
0,56586305,2023-01-22T12:00:00.000,NaN,DSNY,Department of Sanitation,Derelict Vehicles,Derelict Vehicles,Street,11433.0,155-01 109 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.692542,-73.795865,"\n, \n(40.69254168445434, -73.7958650104744)"
1,56591089,2023-01-22T12:00:00.000,NaN,DSNY,Department of Sanitation,Derelict Vehicles,Derelict Vehicles,Street,11434.0,171-11 144 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.668823,-73.769014,"\n, \n(40.66882266347175, -73.7690135214306)"
2,56588330,2023-01-22T02:07:30.000,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10469.0,1224 MACE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.862908,-73.851795,"\n, \n(40.86290818555203, -73.85179487974413)"
3,56589444,2023-01-22T02:07:23.000,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10469.0,1313 HICKS STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.877499,-73.851730,"\n, \n(40.877498917779, -73.85172981169876)"
4,56590626,2023-01-22T02:07:09.000,NaN,NYPD,New York City Police Department,Illegal Parking,Double Parked Blocking Vehicle,Street/Sidewalk,11373.0,41-86 DENMAN STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.745447,-73.872154,"\n, \n(40.74544722203859, -73.87215423973113)"

### 3) JSON file

* JSON stands for JavaScript Object Notation
* JSON is a lightweight format for storing and transporting data
* JSON is often used when data is sent from a server to a web page
* JSON is "self-describing" and easy to understand

__Example of JSON data__: an array of 3 employee records
![image.png](attachment:image.png)

__Exmaple of JSON data__: NYC311 data <br>
https://data.cityofnewyork.us/resource/erm2-nwe9.json

* JSON is good for using API based data acquisition with SQL-like query

In [ ]:
# Load libraries for the use of JSON and url
import urllib.request, json

In [ ]:
# Simply load top 1000 rows from url based JSON file
df = pd.read_json("https://data.cityofnewyork.us/resource/erm2-nwe9.json")

In [ ]:
df.head(2)

,unique_key,created_date,agency,agency_name,complaint_type,descriptor,location_type,incident_zip,incident_address,street_name,...,intersection_street_2,landmark,closed_date,taxi_pick_up_location,facility_type,due_date,bridge_highway_name,bridge_highway_segment,bridge_highway_direction,road_ramp
0,56591089,2023-01-22T12:00:00.000,DSNY,Department of Sanitation,Derelict Vehicles,Derelict Vehicles,Street,11434.0,171-11 144 AVENUE,144 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,56586305,2023-01-22T12:00:00.000,DSNY,Department of Sanitation,Derelict Vehicles,Derelict Vehicles,Street,11433.0,155-01 109 AVENUE,109 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 4) Dataframe basic

In [ ]:
# print column names
data.columns

Index(['unique_key', 'created_date', 'closed_date', 'agency', 'agency_name',
       'complaint_type', 'descriptor', 'location_type', 'incident_zip',
       'incident_address', 'street_name', 'cross_street_1', 'cross_street_2',
       'intersection_street_1', 'intersection_street_2', 'address_type',
       'city', 'landmark', 'facility_type', 'status', 'due_date',
       'resolution_description', 'resolution_action_updated_date',
       'community_board', 'bbl', 'borough', 'x_coordinate_state_plane',
       'y_coordinate_state_plane', 'open_data_channel_type',
       'park_facility_name', 'park_borough', 'vehicle_type',
       'taxi_company_borough', 'taxi_pick_up_location', 'bridge_highway_name',
       'bridge_highway_direction', 'road_ramp', 'bridge_highway_segment',
       'latitude', 'longitude', 'location'],
      dtype='object')

In [21]:
# print total number of rows
data.shape[0]

1000

In [ ]:
# check data types
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 41 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   unique_key                      1000 non-null   int64
 1   created_date                    1000 non-null   object
 2   closed_date                     460 non-null    object
 3   agency                          1000 non-null   object
 4   agency_name                     1000 non-null   object
 5   complaint_type                  1000 non-null   object
 6   descriptor                      982 non-null    object
 7   location_type                   993 non-null    object
 8   incident_zip                    992 non-null    float64
 9   incident_address                990 non-null    object
 10  street_name                     990 non-null    object
 11  cross_street_1                  940 non-null    object
 12  cross_street_2                  940 non-null    object
 13  intersection_street_1           937 non-null    object
 14  intersection_street_2           937 non-null    object
 15  address_type                    992 non-null    object
 16  city                            940 non-null    object
 17  landmark                        884 non-null    object
 18  facility_type                   0 non-null      float64
 19  status                          1000 non-null   object
 20  due_date                        1 non-null      object
 21  resolution_description          528 non-null    object
 22  resolution_action_updated_date  715 non-null    object
 23  community_board                 1000 non-null   object
 24  bbl                             915 non-null    float64
 25  borough                         1000 non-null   object
 26  x_coordinate_state_plane        991 non-null    float64
 27  y_coordinate_state_plane        991 non-null    float64
 28  open_data_channel_type          1000 non-null   object
 29  park_facility_name              1000 non-null   object
 30  park_borough                    1000 non-null   object
 31  vehicle_type                    0 non-null      float64
 32  taxi_company_borough            0 non-null      float64
 33  taxi_pick_up_location           10 non-null     object
 34  bridge_highway_name             7 non-null      object
 35  bridge_highway_direction        4 non-null      object
 36  road_ramp                       2 non-null      object
 37  bridge_highway_segment          7 non-null      object
 38  latitude                        991 non-null    float64
 39  longitude                       991 non-null    float64
 40  location                        991 non-null    object
dtypes: float64(9), int64(1), object(31)
memory usage: 320.4+ KB

In [ ]:
# print data header with certain columns
data.head(2)

,unique_key,created_date,closed_date,agency,agency_name,complaint_type,descriptor,location_type,incident_zip,incident_address,...,vehicle_type,taxi_company_borough,taxi_pick_up_location,bridge_highway_name,bridge_highway_direction,road_ramp,bridge_highway_segment,latitude,longitude,location
0,56586305,2023-01-22T12:00:00.000,NaN,DSNY,Department of Sanitation,Derelict Vehicles,Derelict Vehicles,Street,11433.0,155-01 109 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.692542,-73.795865,"\n, \n(40.69254168445434, -73.7958650104744)"
1,56591089,2023-01-22T12:00:00.000,NaN,DSNY,Department of Sanitation,Derelict Vehicles,Derelict Vehicles,Street,11434.0,171-11 144 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.668823,-73.769014,"\n, \n(40.66882266347175, -73.7690135214306)"

### 5) Downsize data with certain columns
Let's keep 6 columns used above ('Unique Key', 'Agency Name', 'Complaint Type', 'Incident Zip', 'Borough', and 'Created Date')

In [22]:
data_downsized = data[['unique_key','created_date', 'incident_zip']]

In [23]:
data_downsized

     unique_key             created_date  incident_zip
0      56604267  2023-01-24T12:00:00.000       11213.0
1      56603249  2023-01-24T12:00:00.000       10460.0
2      56604266  2023-01-24T12:00:00.000       11203.0
3      56598763  2023-01-24T12:00:00.000       11225.0
4      56606527  2023-01-24T12:00:00.000       11373.0
..          ...                      ...           ...
995    56598021  2023-01-23T20:57:55.000       11374.0
996    56600251  2023-01-23T20:57:44.000       10462.0
997    56603846  2023-01-23T20:56:59.000       10027.0
998    56600455  2023-01-23T20:56:47.000       10466.0
999    56600163  2023-01-23T20:55:50.000       11373.0

[1000 rows x 3 columns]

### 6) Rename columns
Let's rename columne 'Incident Zip' to 'Zipcode'

In [24]:
data = data.rename({'incident_zip':'zipcode'})

In [25]:
data.columns

Index(['unique_key', 'created_date', 'closed_date', 'agency', 'agency_name',
       'complaint_type', 'descriptor', 'location_type', 'incident_zip',
       'incident_address', 'street_name', 'cross_street_1', 'cross_street_2',
       'intersection_street_1', 'intersection_street_2', 'address_type',
       'city', 'landmark', 'facility_type', 'status', 'due_date',
       'resolution_description', 'resolution_action_updated_date',
       'community_board', 'bbl', 'borough', 'x_coordinate_state_plane',
       'y_coordinate_state_plane', 'open_data_channel_type',
       'park_facility_name', 'park_borough', 'vehicle_type',
       'taxi_company_borough', 'taxi_pick_up_location', 'bridge_highway_name',
       'bridge_highway_direction', 'road_ramp', 'bridge_highway_segment',
       'latitude', 'longitude', 'location'],
      dtype='object')

### 7) Sort values

In [27]:
data.sort_values ('agency',ascending=True)

,unique_key,created_date,closed_date,agency,agency_name,complaint_type,descriptor,location_type,incident_zip,incident_address,...,vehicle_type,taxi_company_borough,taxi_pick_up_location,bridge_highway_name,bridge_highway_direction,road_ramp,bridge_highway_segment,latitude,longitude,location
100,56600688,2023-01-24T00:14:09.000,NaN,DCA,Department of Consumer Affairs,Consumer Complaint,Vendor,Business,10035.0,228 EAST 122 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.801430,-73.936448,"\n, \n(40.801430185867964, -73.93644778043648)"
707,56603931,2023-01-23T21:48:41.000,NaN,DCA,Department of Consumer Affairs,Consumer Complaint,Home Improvement Contractor,Business,11693.0,8000 SHORE FRONT PARKWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.586401,-73.805475,"\n, \n(40.5864007344479, -73.80547469920867)"
114,56605566,2023-01-24T00:09:29.000,NaN,DCA,Department of Consumer Affairs,Consumer Complaint,Secondhand Dealer,Business,10035.0,228 EAST 122 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.801430,-73.936448,"\n, \n(40.801430185867964, -73.93644778043648)"
111,56606378,2023-01-24T00:10:59.000,NaN,DCA,Department of Consumer Affairs,Consumer Complaint,Vendor,Business,10035.0,211 EAST 122 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.801565,-73.936726,"\n, \n(40.801564830416744, -73.93672577246936)"
122,56599924,2023-01-24T00:08:10.000,NaN,DCA,Department of Consumer Affairs,Consumer Complaint,Secondhand Dealer,Business,10035.0,226 EAST 122 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.801441,-73.936480,"\n, \n(40.80144118268757, -73.93648027747768)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,56606960,2023-01-23T22:51:05.000,NaN,TLC,Taxi and Limousine Commission,Lost Property,Bag/Wallet,Taxi,10024.0,AMSTERDAM AVENUE,...,NaN,NaN,"AMSTERDAM AVENUE AND WEST 91 STREET, MANHATT...",NaN,NaN,NaN,NaN,40.790872,-73.972691,"\n, \n(40.79087177446261, -73.97269078525044)"
308,56605853,2023-01-23T23:11:02.000,NaN,TLC,Taxi and Limousine Commission,Taxi Complaint,Driver Complaint - Passenger,Street,11430.0,JFK,...,NaN,NaN,"JOHN F KENNEDY AIRPORT, QUEENS (JAMAICA) ,NY, ...",NaN,NaN,NaN,NaN,40.648320,-73.788281,"\n, \n(40.64832048620134, -73.78828125130184)"
868,56600728,2023-01-23T21:21:40.000,NaN,TLC,Taxi and Limousine Commission,For Hire Vehicle Complaint,Driver Complaint - Non Passenger,Street,10457.0,722 EAST 175 STREET,...,NaN,BRONX,"722 EAST 175 STREET, BRONX, NY, 10457",NaN,NaN,NaN,NaN,40.842453,-73.892804,"\n, \n(40.842453371799685, -73.89280355049311)"
640,56597924,2023-01-23T22:01:11.000,NaN,TLC,Taxi and Limousine Commission,Lost Property,Electronics/Phones,NaN,NaN,NaN,...,NaN,NaN,LaGuardia Airport,NaN,NaN,NaN,NaN,NaN,NaN,NaN
952,56598682,2023-01-23T21:04:40.000,NaN,TLC,Taxi and Limousine Commission,Taxi Complaint,Driver Complaint - Passenger,Street,10019.0,356 WEST 57 STREET,...,NaN,NaN,"356 WEST 57 STREET, MANHATTAN (NEW YORK), NY...",NaN,NaN,NaN,NaN,40.767368,-73.984444,"\n, \n(40.767368041971814, -73.98444407879822)"

### 8) Print rows based on values

In [ ]:
data[data['unique_key']==56586305]

   unique_key             created_date
0    56586305  2023-01-22T12:00:00.000

### 9) Create new column

In [ ]:
data['new column'] = 1

In [ ]:
data

     unique_key             created_date  new column
0      56586305  2023-01-22T12:00:00.000           1
1      56591089  2023-01-22T12:00:00.000           1
2      56588330  2023-01-22T02:07:30.000           1
3      56589444  2023-01-22T02:07:23.000           1
4      56590626  2023-01-22T02:07:09.000           1
..          ...                      ...         ...
995    56587375  2023-01-21T23:02:32.000           1
996    56585561  2023-01-21T23:02:27.000           1
997    56584989  2023-01-21T23:02:11.000           1
998    56590560  2023-01-21T23:01:59.000           1
999    56587138  2023-01-21T23:01:56.000           1

[1000 rows x 3 columns]

### 10) Groupby

    A groupby operation involves some combination of splitting the object, applying a function, and combining the results. This can be used to group large amounts of data and compute operations on these groups.
    Let's groupby Borough to calculate how many 311 complaints were reported

In [28]:
data.groupby('agency').count()

,unique_key,created_date,closed_date,agency_name,complaint_type,descriptor,location_type,incident_zip,incident_address,street_name,...,vehicle_type,taxi_company_borough,taxi_pick_up_location,bridge_highway_name,bridge_highway_direction,road_ramp,bridge_highway_segment,latitude,longitude,location
agency,,,,,,,,,,,,,,,,,,,,,
DCA,10,10,0,10,10,10,10,10,10,10,...,0,0,0,0,0,0,0,10,10,10
DEP,48,48,3,48,48,48,0,48,42,42,...,0,0,0,0,0,0,0,48,48,48
DHS,1,1,0,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,1,1,1
DOHMH,24,24,0,24,24,24,24,24,24,24,...,0,0,0,0,0,0,0,24,24,24
DOT,34,34,8,34,34,34,8,32,25,25,...,0,0,0,0,0,0,0,23,23,23
DPR,4,4,0,4,4,4,4,4,4,4,...,0,0,0,0,0,0,0,4,4,4
DSNY,30,30,0,30,30,30,30,29,29,29,...,0,0,0,0,0,0,0,29,29,29
HPD,256,256,0,256,256,256,256,256,256,256,...,0,0,0,0,0,0,0,256,256,256
NYPD,588,588,365,588,588,577,588,584,584,584,...,0,0,0,4,1,1,4,585,585,585
TLC,5,5,0,5,5,5,4,4,4,4,...,0,1,5,0,0,0,0,4,4,4

In [ ]:
export = data.groupby('agency').count()

### 11) Export your dataframe 

    Syntax: YOUR_DATAFRAME_NAME.to_csv('FILE_PATH')

In [ ]:
export.to_csv('export.csv')