PLA6113 Exploring Urban Data with Machine Learning
<br>

# Lab 01: Intro to Python for ML
# SECTION 1:

## 1. Check your Python version

In [ ]:
import platform
print(platform.python_version())

## 2. Code, output, and markdown

10 + 2 = 12

We just calculated 20 + 40 and got a result, 60.

## 3. Basic math

Python can handle basic math operations. Letâ€™s have a try:

Let's see how order affects how code is run:

## 4. Variables

Assigning variables: 
<br>
when assignining variables you can use "=" to assign variables:

Reassigning variables:

## 5. Data Types
Getting the Data Type
<br>
You can get the data type of any object by using the type() function:
### 5-1. String

### 5-2. Integer

### 5-3. Float

### 5-4. List
A collection which is ordered and changeable. Allows duplicate members.

__Task. Create and assign variable of a list with five different five different countries.__
* Print the first and the last items.
* Replace the third item to your last name.
* Print the list.

### 5-4. Tuple
A collection which is ordered and unchangeable. Allows duplicate members.

### 5-5. Dictionary
A collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

### 5-6. Boolean
In programming you often need to know if an expression is True or False. You can evaluate any expression in Python, and get one of two answers, True or False. When you compare two values, the expression is evaluated and Python returns the Boolean answer:

## 6. Range
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.
* Syntax: range(start, stop, step)

__Task. Create a list with a sequence of numbers from 5 to 50, increment by 15, using range().__

## 8. Writing Functions
A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result.

__Task. Write a function to return average value of items in a list.__

## 9. Control Statement

## 10. For loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string). This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages. With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

# SECTION 2: Essential Libararies and Tools
* NumPy
* Pandas
* scikit-learn
* Very simple and basic machine learning example (pending)

## 1. NumPy
NumPy is one of the fundamental packages for scientific computing in the browser. 
* Multimensional arrays
* High-level mathematical functions such as linear algebra operations
* Important, because the NumPy array is the fundamental data structure in scikit-learn (which will be mainly used for machine learning algorithms)
* Data will have to be converted to a NumPy array
* Core functionality: ndarray class, multidimensinal (n-dimensional) array
* All elements in the array must be of the same data type (e.g. int, str, float...)

In [ ]:
# Import the entire NumPy module
import numpy as np

### 1) Create a numpy array

### 2) Shape of matrix (array)

### 3) Indexing

### 5) Accessing array rows and columns.    
One commonly needed routine is accessing single rows or columns of an array. You can do this by combining indexing and slicing, using an empty slice marked by a single colon (:):

### 7) Calling built-in functions

## 2. Pandas
Pandas is a Python library for data wrangling and analysis.
* Data structure called the DataFrame - modeled after the R DataFrame
* Simply, it is like a table, similar to an Excel spreadsheet
* Great range of methods to modify and operate on data tables
* SQL-like queries, joins of tables
* In contrast to NumPy, Pandas allows each column to have a separate data type (e.g. one for string, one for float, one for datetime etc.)
* Ingest from a variety of data file formats and data bases (SQL, Excel file, csv, json)

https://data.cityofnewyork.us/resource/erm2-nwe9

In [ ]:
# Import the entire pandas module
import pandas as pd

### 1) Excel

### 2) comma-separated values (CSV)
* We will mostly use this format

### 3) JSON file

* JSON stands for JavaScript Object Notation
* JSON is a lightweight format for storing and transporting data
* JSON is often used when data is sent from a server to a web page
* JSON is "self-describing" and easy to understand

__Example of JSON data__: an array of 3 employee records
![image.png](attachment:image.png)

__Exmaple of JSON data__: NYC311 data <br>
https://data.cityofnewyork.us/resource/erm2-nwe9.json

* JSON is good for using API based data acquisition with SQL-like query

In [ ]:
# Load libraries for the use of JSON and url
import urllib.request, json

In [ ]:
# Simply load top 1000 rows from url based JSON file
df = pd.read_json("https://data.cityofnewyork.us/resource/erm2-nwe9.json")

In [ ]:
df.head(2)

### 4) Dataframe basic

In [ ]:
# print column names

In [ ]:
# print total number of rows

In [ ]:
# check data types

In [ ]:
# print data header with certain columns

### 5) Downsize data with certain columns
Let's keep 6 columns used above ('Unique Key', 'Agency Name', 'Complaint Type', 'Incident Zip', 'Borough', and 'Created Date')

### 7) Rename columns
Let's rename columne 'Incident Zip' to 'Zipcode'

### 8) Sort values

### 9) Print rows based on values

    Print rows where "Zipcode" is 10011

### 10) Create new column

    Create column name 'count' with value 1 (integer)

### 11) Groupby

    A groupby operation involves some combination of splitting the object, applying a function, and combining the results. This can be used to group large amounts of data and compute operations on these groups.
    Let's groupby Borough to calculate how many 311 complaints were reported

### 12) Export your dataframe 

    Syntax: YOUR_DATAFRAME_NAME.to_csv('FILE_PATH')