# Exploring Urban Data with ML
# Supervised Learning 1 - Regression Models

## Ordinary Least Squared (OLS) regression model

In [1]:
!pip install regressors

Requirement already satisfied: regressors in /Users/zhuangjunling/anaconda3/lib/python3.9/site-packages (0.0.3)
Requirement already satisfied: seaborn in /Users/zhuangjunling/anaconda3/lib/python3.9/site-packages (from regressors) (0.11.2)
Requirement already satisfied: numpy>=1.6.1 in /Users/zhuangjunling/anaconda3/lib/python3.9/site-packages (from regressors) (1.21.5)
Requirement already satisfied: scipy>=0.9 in /Users/zhuangjunling/anaconda3/lib/python3.9/site-packages (from regressors) (1.9.1)
Requirement already satisfied: scikit-learn>=0.17 in /Users/zhuangjunling/anaconda3/lib/python3.9/site-packages (from regressors) (1.0.2)
Requirement already satisfied: pandas in /Users/zhuangjunling/anaconda3/lib/python3.9/site-packages (from regressors) (1.4.4)
Requirement already satisfied: statsmodels>=0.6.1 in /Users/zhuangjunling/anaconda3/lib/python3.9/site-packages (from regressors) (0.13.2)
Requirement already satisfied: matplotlib in /Users/zhuangjunling/anaconda3/lib/python3.9/site-packages (from regressors) (3.5.2)
Requirement already satisfied: joblib>=0.11 in /Users/zhuangjunling/anaconda3/lib/python3.9/site-packages (from scikit-learn>=0.17->regressors) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/zhuangjunling/anaconda3/lib/python3.9/site-packages (from scikit-learn>=0.17->regressors) (2.2.0)
Requirement already satisfied: patsy>=0.5.2 in /Users/zhuangjunling/anaconda3/lib/python3.9/site-packages (from statsmodels>=0.6.1->regressors) (0.5.2)
Requirement already satisfied: packaging>=21.3 in /Users/zhuangjunling/anaconda3/lib/python3.9/site-packages (from statsmodels>=0.6.1->regressors) (21.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/zhuangjunling/anaconda3/lib/python3.9/site-packages (from pandas->regressors) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/zhuangjunling/anaconda3/lib/python3.9/site-packages (from pandas->regressors) (2022.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/zhuangjunling/anaconda3/lib/python3.9/site-packages (from matplotlib->regressors) (4.25.0)
Requirement already satisfied: cycler>=0.10 in /Users/zhuangjunling/anaconda3/lib/python3.9/site-packages (from matplotlib->regressors) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/zhuangjunling/anaconda3/lib/python3.9/site-packages (from matplotlib->regressors) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in /Users/zhuangjunling/anaconda3/lib/python3.9/site-packages (from matplotlib->regressors) (9.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/zhuangjunling/anaconda3/lib/python3.9/site-packages (from matplotlib->regressors) (1.4.2)
Requirement already satisfied: six in /Users/zhuangjunling/anaconda3/lib/python3.9/site-packages (from patsy>=0.5.2->statsmodels>=0.6.1->regressors) (1.16.0)

In [6]:
import pandas as pd
import numpy as np
from math import sqrt
from regressors import stats

from sklearn import model_selection
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

import matplotlib.pyplot as plt

__About data__<br>
Sklearn provides example datasets for exercise purposes. For more information, please check https://scikit-learn.org/stable/datasets/index.html <br>

__Boston Housing dataset__ (506 samples and 13 derived features)


* CRIM - per capita crime rate by town
* ZN - proportion of residential land zoned for lots over 25,000 sq.ft.
* INDUS - proportion of non-retail business acres per town
* CHAS - Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
* NOX - nitric oxides concentration (parts per 10 million)
* RM - average number of rooms per dwelling
* AGE - proportion of owner-occupied units built prior to 1940
* DIS - weighted distances to five Boston employment centres
* RAD - index of accessibility to radial highways
* TAX - full-value property-tax rate per USD10,000
* PTRATIO - pupil-teacher ratio by town
* B - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
* LSTAT - percentage lower status of the population
* MEDV - Median value of owner-occupied homes in USD1000’s (*Our target variable*)

#### Load Boston housing dataset from sklearn

In [ ]:
from sklearn.datasets import load_boston

boston = load_boston()
df = pd.DataFrame(boston.data, columns = boston.feature_names)
df['MEDV'] = boston.target

print (df.shape)
df.head()

(506, 14)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [ ]:
# boston

#### Split data into target variable (y) and predictors (X)
* target variable - y - dependent variable - label
* predictors - X - independent variables - explanatory variables

In [ ]:
X, y = df.iloc[:,:-1], df.iloc[:,-1]

# X = df.iloc[:,:-1]
# y = df.iloc[:,-1]

#### Split data in training and test data

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size = 0.75, random_state = 0)

print (len(X_train))
print (len(X_test))

379
127

#### Building a linear regression model (OLS)

In [ ]:
# You can choose any text for your model name
lr = LinearRegression().fit(X_train, y_train)

#### Predict values using OLS model and evaluate (training)
    predicted y value = YOUR_MODEL_NAME.predict(X_train)
    
    # Metrics
    MSE = YOUR_MODEL_NAME.mean_squared_error(y_train, y_pred_train)
    R2 = YOUR_MODEL_NAME.score(X_train, y_train)

In [ ]:
y_pred_train = lr.predict(X_train)

In [ ]:
# R2
lr.score(X_train, y_train)

0.7697699488741149

In [ ]:
# MSE
mean_squared_error(y_train, y_pred_train)

19.640519427908046

#### Predict values and evaluate (test)

In [ ]:
# If the result from the test dataset is reasonable, our traning model can be used to test data
# Predicting new data points (future data)

y_pred_test = lr.predict(X_test)

print (lr.score(X_test, y_test))
print (mean_squared_error(y_test, y_pred_test))

0.635463843320211
29.78224509230252

### Conclusions:

#### Regression results: coefficients


    # The change in the value of dependent variable corresponding to the unit change in the independent variable.

    coefficients of predictors = YOUR_MODEL_NAME.coef_
    constant = YOUR_MODEL_NAME.intercept_
    p-values of predictors and intercept = stats.coef_pval(YOUR_MODEL_NAME, X_train, y_train)
    Summary table = stats.summary(YOUR_MODEL_NAME, X_train, y_train, list of predictors)

In [ ]:
print (df.columns.tolist()[:-1])
print (lr.coef_)
print (stats.coef_pval(lr, X_train, y_train))
print (lr.intercept_)

['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT']
[-1.17735289e-01  4.40174969e-02 -5.76814314e-03  2.39341594e+00
 -1.55894211e+01  3.76896770e+00 -7.03517828e-03 -1.43495641e+00
  2.40081086e-01 -1.12972810e-02 -9.85546732e-01  8.44443453e-03
 -4.99116797e-01]
[2.91824342e-11 9.53777668e-04 1.33756447e-04 9.23169270e-01
 1.15790661e-02 1.21849015e-04 0.00000000e+00 5.04066352e-01
 4.47819559e-12 3.36824927e-04 0.00000000e+00 0.00000000e+00
 2.05331308e-11 0.00000000e+00]
36.93325545712031

In [ ]:
# Create pandas dataframe of results
result_ols = pd.DataFrame(columns=['Features', 'Coef', 'p-value'])
result_ols['Features'] = df.columns.tolist()[:-1]
result_ols['Coef'] = lr.coef_
result_ols['p-value'] = stats.coef_pval(lr, X_train, y_train)[1:]
result_ols.round(3)

   Features    Coef  p-value
0      CRIM  -0.118    0.001
1        ZN   0.044    0.000
2     INDUS  -0.006    0.923
3      CHAS   2.393    0.012
4       NOX -15.589    0.000
5        RM   3.769    0.000
6       AGE  -0.007    0.504
7       DIS  -1.435    0.000
8       RAD   0.240    0.000
9       TAX  -0.011    0.000
10  PTRATIO  -0.986    0.000
11        B   0.008    0.000
12    LSTAT  -0.499    0.000

In [ ]:
stats.summary(lr, X_train, y_train, df.columns.tolist()[:-1])

Residuals:
     Min      1Q  Median     3Q     Max
-27.5947 -1.6452  0.5545 2.4579 14.1787


Coefficients:
             Estimate  Std. Error  t value   p value
_intercept  36.933255    5.387961   6.8548  0.000000
CRIM        -0.117735    0.035356  -3.3300  0.000954
ZN           0.044017    0.011406   3.8592  0.000134
INDUS       -0.005768    0.059769  -0.0965  0.923169
CHAS         2.393416    0.943371   2.5371  0.011579
NOX        -15.589421    4.014983  -3.8828  0.000122
RM           3.768968    0.298105  12.6431  0.000000
AGE         -0.007035    0.010520  -0.6687  0.504066
DIS         -1.434956    0.200655  -7.1514  0.000000
RAD          0.240081    0.066352   3.6183  0.000337
TAX         -0.011297    0.001142  -9.8892  0.000000
PTRATIO     -0.985547    0.098734  -9.9818  0.000000
B            0.008444    0.001222   6.9111  0.000000
LSTAT       -0.499117    0.046737 -10.6793  0.000000
---
R-squared:  0.76977,    Adjusted R-squared:  0.76157
F-statistic: 93.87 on 13 features

#### Do more complex models with more predictors perform better?
__Let's use more features to predict housing prices in Boston__
* 506 samples, 104 predictors (artificial data)
* You can find the dataset in Courseworks -> Miscellaneous

In [7]:
df = pd.read_csv('boston_data_extended.csv')
print (df.shape)
df.head(2)

(506, 105)

,0,1,2,3,4,5,6,7,8,9,...,95,96,97,98,99,100,101,102,103,MEDV
0,0.000000,0.18,0.067815,0.0,0.314815,0.577505,0.641607,0.269203,0.000000,0.208015,...,0.059749,0.208015,0.018655,0.082503,0.287234,0.025759,1.0,0.08968,0.008042,24.0
1,0.000236,0.00,0.242302,0.0,0.172840,0.547998,0.782698,0.348962,0.043478,0.104962,...,0.058064,0.104962,0.021462,0.306021,0.553191,0.113111,1.0,0.20447,0.041808,21.6

#### Try the same OLS process

In [8]:
# Split predictors and target variable
X, y = df.iloc[:,:-1], df.iloc[:,-1]

# Split train and test dataset
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size = 0.75, random_state=0)

# Build OLS model
lr = LinearRegression().fit(X_train, y_train) # training process 

y_pred_train = lr.predict(X_train)
y_pred_test = lr.predict(X_test)

# Model performance (R-squared values of train and test sets)
print ("Training set score: %.2f"% lr.score(X_train, y_train))
print ("Test set score: %.2f"% lr.score(X_test, y_test))

# Model performance (MSE of train and test sets)
print('Mean squared error (train set): %.2f'% mean_squared_error(y_train, y_pred_train))
print('Mean squared error (test set): %.2f'% mean_squared_error(y_test, y_pred_test))

Training set score: 0.95
Test set score: 0.61
Mean squared error (train set): 4.09
Mean squared error (test set): 32.07