### 列表
* 通过[]来创建一个list结构
* 里面放任何类型都可以的，没有一个长度限制

In [1]:
tang = []

In [2]:
type(tang)

list

In [3]:
tang = [1,2,3,4]
tang

[1, 2, 3, 4]

In [4]:
tang = ['1','2','3','4']
tang

['1', '2', '3', '4']

In [5]:
tang = [1,'tangyudi',3.5]
tang

[1, 'tangyudi', 3.5]

In [7]:
tang = list()
type(tang)

list

In [9]:
tang = list([1,2,3])
tang

[1, 2, 3]

### list操作

In [3]:
len(tang)

NameError: name 'tang' is not defined

In [7]:
a = [123,456]
b = ['tang','yudi']
a + b

[123, 456, 'tang', 'yudi']

In [8]:
type(a+b)

list

In [9]:
a * 3

[123, 456, 123, 456, 123, 456]

In [10]:
a[0]

123

In [11]:
a[1]

456

In [12]:
a[0:]

[123, 456]

In [1]:
a

NameError: name 'a' is not defined

In [2]:
a[0] = 789
a

NameError: name 'a' is not defined

In [14]:
a[:] = ['tang','yudi']
a

['tang', 'yudi']

In [29]:
a = [1,2,3,4,5,6,7,8,9]
a[4:7]

[5, 6, 7]

In [34]:
a

[2, 3, 4]

In [35]:
del a[0] #删除第0项
a

[3, 4]

In [38]:
del a[3:] #第三个开始后面全部不要了

In [39]:
a

[3, 4]

In [43]:
a = [1,2,3,4,5,6,7,8,9]
8 in a #类似一个判断在不在里面

True

In [44]:
tang = 'tang yu di'
'tang' in tang

True

In [45]:
a = [1,2,[3,4]]
a

[1, 2, [3, 4]]

In [46]:
a[2]

[3, 4]

In [47]:
a[2][1]

4

In [49]:
tang =['apple','banana','apple','apple','apple','banana','banana']
tang.count('apple') #计算一个数值重复出现的次数

4

In [51]:
tang =['apple','1','2','3','4','5','6']
tang.index('apple') #寻找一个具体数值的位置

0

In [52]:
tang[0]

'apple'

In [53]:
tang.index('banana')

ValueError: 'banana' is not in list

### 列表添加

In [10]:
tang = []

In [11]:
tang.append('tang')  #每次往里面添加一遍有的内容
tang

['tang']

In [12]:
tang.append(['tang','yudi'])
tang

['tang', ['tang', 'yudi']]

In [13]:
tang.insert(2,'python') #在2这个位置去插入python这个数值
tang

2

In [14]:
tang.remove(['tang', 'yudi']) #去移除['tang', 'yudi']这个list
tang

['tang', 'python']

In [15]:
tang.remove('tang')
tang

['python']

In [20]:
tang.pop(0)

1

In [17]:
tang

['python']

In [22]:
tang = [1,2,3,9,6,3,2]
tang.sort() #改变原始数据结构去sort按照正序
tang

[1, 2, 2, 3, 3, 6, 9]

In [23]:
tang = [1,2,3,9,6,3,2]
tang2 = sorted(tang) #不改变原始数据结构去sort

In [24]:
tang

[1, 2, 3, 9, 6, 3, 2]

In [98]:
tang2

[1, 2, 2, 3, 3, 6, 9]

In [99]:
tang = ['di','yu','tang']
tang.reverse() #颠倒顺序

In [100]:
tang

['tang', 'yu', 'di']